*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sony-header{

    background-color: black;
    letter-spacing: 2px; 
    font-family: 'Times New Roman', Times, serif; 
    padding-left: 10px; 
    font-size: 16px;
}

.sony-header h1{
    color:white; 
    padding: 0px 0px 3px 0px ;
    font-stretch: wider;
}

.header{
    background-color: black; 
    color: white;
    padding: 20px;
}

.list{
    padding: 100px 20px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list a{
    text-decoration: none;
    padding: 1px;
    font-size: 35px;
    cursor: pointer;
    color: whitesmoke;
    animation-fill-mode: forwards;
}
.list a:hover{
    background-color: rgb(41, 80, 255);
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}

.quote{
    text-align: center;
    max-width: auto;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: rgba(255, 255, 255, 0.6) ;
    padding: 45px;
    margin: auto;
    margin-top: -7%;
    border-radius: 7%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container h3{
    color: rgb(218, 19, 19);
    font-size: 20px;
}

.subbtn{
    border-radius: 30px;
    background-color: white;
    font-size: large;
    border-width: 2px;
    border-color: skyblue;
    cursor: pointer;
    padding: 8px;
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, textarea{
    margin: 5px;
    padding: 8px;
    border-width: 0;
    border-radius: 10px;
}

.subbtn:hover{
    background-color: steelblue;
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}